// COLORS
$pink: pink;
$darkerPink: rgb(224, 156, 168);
$lightGray: rgb(223, 223, 223);
$darkGray: rgb(174, 174, 174);
$darkerGray: rgb(101, 101, 101);
$background: black;

// TEXT
$fonts: "Roboto Mono", monospace;