// CONTAINERS & BOXES
$background: black;
$containerBackground: #161616;
$containerBorder: #5200cc;
$navbarBackground: #1b1b1b;
$navbarBorder: #272727;
$toolbarBackground: #111111;
$toolbarBorder: #2b2b2b;

// TEXT
$fonts: "Roboto Mono", monospace;

// INPUTS
$inputBackground: #e2e2e2;
$inputBorder: #5200cc;
$placeholderGray: #999999;
$inputDarkBackground: black;
$inputDarkBorder: #242424;

// BUTTONS
$buttonBackground: #5200cc;
$buttonText: white;
$buttonHover: #6600ff;
$selectorButtonBackground: #222222;
$selectorButtonHover: #353535;
$deleteButton: #b40000;
$disabledButton: #424242;

// NOTIFICATIONS
$errorDarkRed: #cc0000;
$errorLightRed: #ffe3e3;
$successDarkGreen: #058f00;
$successLightGreen: #e3ffe3;

// STATUS COLORS
$wish: #abdbdb;
$learning: #ff66b3;
$mastered: #51dd87;
$attention: #fdc827;
