@use "./variables";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: variables.$background;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.helpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.7rem 20rem 0.7rem;
    .headIconBox {
        margin: 1rem 0 3rem 0;
        padding: 0;

        img {
            width: 10rem;
        }

        @media screen and (max-width: 600px) {
            img {
                width: 8rem;
            }
        }
    }
    .helpBoxRight {
        border-top: 0;
        border-left: 0;
        border-right: 0.1rem solid violet;
        border-bottom: 0.1rem solid violet;
        max-width: 40rem;
        padding: 1rem;
        h2 {
            color: rgba(255, 0, 255, 0.797);
            text-align: right;
            font-family: variables.$fonts;
            font-size: 1.3rem;
            margin: 2rem 1rem 1rem 1rem;
        }

        @media screen and (max-width: 600px) {
            h2 {
                font-size: 1.2rem;
            }
        }

        p {
            align-self: flex-end;
            color: white;
            text-align: right;
            font-family: variables.$fonts;
            line-height: 2rem;
            font-size: 1rem;
            text-indent: 0;
            margin-bottom: 1rem;
        }
    }
    .helpBoxLeft {
        border-top: 0;
        border-right: 0;
        border-left: 0.1rem solid violet;
        border-bottom: 0.1rem solid violet;
        max-width: 40rem;
        padding: 1rem;
        h2 {
            color: rgba(255, 0, 255, 0.797);
            text-align: left;
            font-family: variables.$fonts;
            font-size: 1.3rem;
            margin: 2rem 1rem 1rem 1rem;
        }

        @media screen and (max-width: 600px) {
            h2 {
                font-size: 1.2rem;
            }
        }

        p {
            align-self: flex-start;
            color: white;
            text-align: left;
            font-family: variables.$fonts;
            line-height: 2rem;
            font-size: 1rem;
            text-indent: 0;
            margin-bottom: 1rem;
            span {
                font-style: italic;
                color: violet;
            }
        }
    }
    .helpBoxEnding {
        border-top: 0;
        border-right: 0;
        border-left: 0.1rem solid violet;
        border-bottom: 0;
        max-width: 40rem;
        min-height: 20rem;
        padding: 2rem 1rem;
        p {
            align-self: flex-start;
            color: white;
            text-align: left;
            font-family: variables.$fonts;
            line-height: 2rem;
            font-size: 1rem;
            text-indent: 0;
            hyphens: none;
            margin-top: 0.7rem;
            span {
                font-style: italic;
                color: violet;
            }
        }
    }
}
