@use "./variables";

p {
	margin: 0;
	padding: 0;
}

audio {
	border: none;
	outline: 0;
	margin: 0;
}

.navbarContainer {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	width: 100%;
	padding: 1rem 2rem 1rem 2rem;

	.helperIcons {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;

		p {
			font-size: 1.5rem;
			font-weight: 800;
			color: white;
			font-family: variables.$fonts;
		}

		button {
			cursor: pointer;
			background-color: transparent;
			border: none;
			padding: 0;
			margin: 0;
		
			svg {
				fill: white;
				font-size: 1.4rem;
			}
		}

		.hamburger {
			display: block;
			padding: 0;

			.bar {
				display: block;
				width: 1.2rem;
				height: 1px;
				margin: 0.3rem;
				background-color: #ffffff;
				border-radius: 1px;
				transition: all 0.2s ease-out;
			}
		}
	}

	.navLogoBoxOff {
		display: none;
	}
	.navLogoBox {
		display: flex;
		align-items: center;
		margin-left: 0;
		padding: 0;
		
		.navLogo {
			width: 10rem;
			@media screen and (max-width: 600px) {
				width: 7rem;
			
			}
		}
	}
	
}

.audioContainer {
	display: none;
}
.audioContainerActive {
	display: block;
	position: absolute;
	z-index: 9;
	margin-left: 1rem;
}

.menuContainer {
	display: none;
}
.menuContainerActive {
	display: block;
	position: absolute;
	z-index: 9;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 0.6rem 2.2rem 1rem 0;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.7);
	.menuLinks {
		margin: 0;
		padding: 0;
		
		ul {
			margin: 0;
			padding: 0;
			display: block;
		}
		
		li, a {
			cursor: pointer;
			list-style-type: none;
			color: white;
			font-family: variables.$fonts;
			text-decoration: none;
			font-size: 1.1rem;
			padding: 0;
			margin: 0 0 1rem 0;
			border-radius: 0;
		}
	}
}