@use "./variables";

.selectionContainer {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 0;
    hyphens: none;

    .unselected {
        font-family: variables.$fonts;
        font-size: 1rem;
        color: black;
        margin: 0.2rem 0 0 0;
        padding: 0.3rem 1rem;
        background-color: variables.$darkGray;
        cursor: pointer;
        border-radius: 0.3rem;
        border: none;
    }
    .selected {
        font-family: variables.$fonts;
        font-size: 1rem;
        color: black;
        margin: 0.2rem 0 0 0;
        padding: 0.3rem 1rem;
        background-color: variables.$darkerPink;
        cursor: pointer;
        border-radius: 0.3rem;
        border: none;
    }

    .helper {
        font-family: variables.$fonts;
        font-size: 0.9rem;
        text-align: center;
        color: variables.$darkGray;
        margin: 0.5rem 0 0 0;
        padding: 0;
    }
}
